script(type="text/x-template")#works-container
  .works    
    slider(
      :works="works",
      :currentWork="currentWork",
      @slide="handleSlide",
      @select="selectWork"
    )
    info(
      :currentWork="currentWork",
      :works="works"
    )

script(type="text/x-template")#works-slider
  .works__slider
    .slider
      .slider__container(ref="sliderContainer")
        transition-group(name="slide")
          img.slider__img(
            v-for="(work, index) in works"
            :key="work.id"
            v-if="index+1 === currentWork.number"
            :src="work.photo"
            )
        thumbs(
          :works="reversedWorks",
          :currentWork="currentWork",
          @select="workId => $emit('select', workId)"
        )

      controls(
        @slide="direction => $emit('slide', direction)"
      )
      transition(name="fade" mode="out-in")
        .slider__count(
          v-for="(work, index) in works"
          :key="index"
          v-if="index+1 === currentWork.number"
          ) {{currentWork.number}}

script(type="text/x-template")#works-thumbs
  ul.slider__list-prev(ref="sliderThumbs")
    li.slider__item-prev(
      v-for="(work, index) in works" :key="work.id"
      :class="{active: currentWork.id === work.id}"
      )
      button.slider__item-link(href="#" @click.prevent="$emit('select', work.originIndex)")
        img.slider__item-img(:src="work.photo")

script(type="text/x-template")#works-controls
  .slider__controls
    a.slider__controls-link.slider__controls-link_top(@click.prevent="$emit('slide', 'next')")
      +icon('arrow-down', 'slider__controls-arrow')
    a.slider__controls-link.slider__controls-link_bottom(@click.prevent="$emit('slide', 'prev')")    
      +icon('arrow-down', 'slider__controls-arrow')

script(type="text/x-template")#works-info
  transition(name="fade" mode="out-in")
    .works__content(
      v-for="(work, index) in works"
      :key="index"
      v-if="index+1 === currentWork.number"
    )
      tags(
        :skills="skillsToArray(currentWork.techs)"
      )
      h3.section-title.section-title__works.section-title__works_font-size {{currentWork.title}}
      .works__desc {{currentWork.description}}
      a.works__link-site(:href="currentWork.link" target="_blank") 
        +icon('link', 'works__link-icon') 
        span.works__link-text Посмотреть сайт

script(type="text/x-template")#works-tags
  ul.works__skills-list
    li.works__skills-item(v-for="skill in skills") {{skill}}