script(type="text/x-template")#works-container
  .works-slider   
    slider(
      :works="works",
      :currentWork="currentWork",
      @slide="handleSlide",
      @select="selectWork"
    )
    info(
      :currentWork="currentWork",
      :works="works"
    )

script(type="text/x-template")#works-slider
  .works-slider__pics
    .works-slider__pics-content
      .works-slider__fullpic-container(ref="sliderContainer")
        transition-group(name="slide")
          img.works-slider__fullpic(
            v-for="(work, index) in works"
            :key="work.id"
            v-if="index+1 === currentWork.number"
            :src="work.photo"
            )
        thumbs(
          :works="reversedWorks",
          :currentWork="currentWork",
          @select="workId => $emit('select', workId)"
        )
        controls(
          @slide="direction => $emit('slide', direction)"
        )
        transition(name="fade" mode="out-in")
          .works-slider__count(
            v-for="(work, index) in works"
            :key="index"
            v-if="index+1 === currentWork.number"
            ) {{currentWork.number}}

script(type="text/x-template")#works-thumbs
  ul.works-slider__thumbs(ref="sliderThumbs")
    li.works-slider__thumb-item(
      v-for="(work, index) in works" :key="work.id"
      :class="{active: currentWork.id === work.id}"
      )
      a.works-slider__thumb-link(href="#" @click.prevent="$emit('select', work.originIndex)")
        img.works-slider__thumb(:src="work.photo")

script(type="text/x-template")#works-controls
  .works-slider__buttons
    button.arrow__right.works-slider__btn.works-slider__btn_next(type="button" @click.prevent="$emit('slide', 'next')")
      +icon('arrow-down', 'arrow__right-icon slider__controls-arrow')
    button.arrow__left.works-slider__btn.works-slider__btn_prev(type="button" @click.prevent="$emit('slide', 'prev')")    
      +icon('arrow-down', 'arrow__left-icon slider__controls-arrow')

script(type="text/x-template")#works-info
  transition(name="fade" mode="out-in")
    .works-slider__data(
      v-for="(work, index) in works"
      :key="index"
      v-if="index+1 === currentWork.number"
    )
    
      tags(
        :skills="skillsToArray(currentWork.techs)"
      )
      h3.works-slider__title {{currentWork.title}}
      .works-slider__desc
        p {{currentWork.description}}
      .works-slider__link
        +icon('link', 'works-slider__link-icon')
        a.works__link(:href="currentWork.link" target="_blank") Посмотреть сайт


script(type="text/x-template")#works-tags
  ul.works-slider__tags
    li.works-slider__tag-item.tag(v-for="skill in skills") {{skill}}